PORT=8080
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
TELEGRAM_BOT_NOTIF_TOKEN=your_telegram_bot_token_here
TELEGRAM_BOT_CONTROL_TOKEN=your_control_plane_bot_token_here

# Jika menjalankan notification-engine via Docker Desktop, gunakan host.docker.internal 
# untuk mengakses Redis yang ada di komputer Host. Jika tanpa docker, gunakan localhost.
REDIS_URL=redis://host.docker.internal:6379

API_KEY=your_secret_api_key_here